name = "hello-world-dev"
account_id = "f5686db3c4f5b3e38b8f15b0561a28a8"
compatibility_date = "2024-03-26"
compatibility_flags = ["nodejs_compat"]

main = "src/index.ts"

routes = [{ pattern = "hello-world-dev.mirio.dev", custom_domain = true }]

[[analytics_engine_datasets]]
binding = "HTTP_REQUESTS"
dataset = "http_requests"

[observability]
enabled = true
head_sampling_rate = 1

[env.production]
name = "hello-world"
routes = [{ pattern = "hello-world.mirio.dev", custom_domain = true }]

[[env.production.analytics_engine_datasets]]
binding = "HTTP_REQUESTS"
dataset = "http_requests"

[env.production.observability]
enabled = true
head_sampling_rate = 1
